In [1]:
#Import Packages
from selenium import webdriver
import time
import pandas as pd
import os
import itertools


#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [2]:
url1='https://www.linkedin.com/jobs/search?keywords=Marketing%20Data%20Analyst&location=Hyderabad%2C%20Telangana%2C%20India&geoId=105556991&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'

In [22]:
driver = webdriver.Chrome()
driver.implicitly_wait(10)
driver.get(url1)

In [4]:
y=driver.find_elements(By.CLASS_NAME, 'results-context-header__job-count')[0].text

In [5]:
type(y)

str

In [6]:
n=pd.to_numeric(y)

In [7]:
n

254

In [8]:
i = 2
while i <= int((n + 200) / 25) + 1:
    try:
        # Scroll to the bottom of the page
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        i += 1

        # Find buttons with the text "See more jobs"
        buu = driver.find_elements(By.TAG_NAME, "button")
        x = [btn for btn in buu if btn.text == "See more jobs"]

        # Click each "See more jobs" button
        for btn in x:
            driver.execute_script("arguments[0].click();", btn)
            time.sleep(3)

    except Exception as e:
        print(f"An error occurred: {e}")
        time.sleep(4)

In [9]:
companyname= []
titlename= []

In [10]:
from selenium.webdriver.common.by import By

companyname = []  

try:
    # Find all elements with the specified class name
    companies = driver.find_elements(By.CLASS_NAME, 'base-search-card__subtitle')

    # Loop through the elements and extract text
    for company in companies:
        companyname.append(company.text)

except IndexError:
    print("IndexError occurred")

In [11]:
    len(companyname)

254

In [12]:
from selenium.webdriver.common.by import By

titlename = []  

try:
    # Find all elements with the specified class name
    titles = driver.find_elements(By.CLASS_NAME, 'base-search-card__title')

    # Loop through the elements and extract text
    for title in titles:
        titlename.append(title.text)

except IndexError:
    print("IndexError occurred")

In [13]:
len(titlename)

254

In [14]:
companyfinal=pd.DataFrame(companyname,columns=["company"])
titlefinal=pd.DataFrame(titlename,columns=["title"])

In [15]:
x=companyfinal.join(titlefinal)

In [16]:
x

                    company                                              title
0           Saras Analytics    Saras Analytics - Business Analyst - SQL/Python
1           Thomson Reuters               Senior Analyst - Marketing Analytics
2           Saras Analytics          Saras Analytics - Market Research Analyst
3                   NxtWave       Nxtwave - Search Engine Optimization Analyst
4           Angel and Genie                HIRE Senior SEM Analyst - Hyderabad
..                      ...                                                ...
249                  Amazon  Business Analyst II - AR, Global Vendor Holdbacks
250  Forward Eye Technology             BI Developer - Azure Analysis Services
251                     ICE  Principal Business Analyst , Reference Data Op...
252      Garima Interprises                                      Market Trends
253              HighRadius                                  Content Marketing

[254 rows x 2 columns]

In [17]:
jobList = driver.find_elements(By.CLASS_NAME, 'base-card__full-link')
hrefList = []
for e in jobList:
    hrefList.append(e.get_attribute('href'))

#for href in hrefList:
    #link.append(href)

In [18]:
linklist=pd.DataFrame(hrefList,columns=["joblinks"])

In [19]:
linklist.to_csv('linkedinlinks.csv')

In [20]:
result_df = pd.merge(companyfinal, titlefinal, left_index=True, right_index=True)
result_df = pd.merge(result_df, linklist, left_index=True, right_index=True)

# Save the result DataFrame to a CSV file
result_df.to_csv('output.csv', index=False)

In [23]:
driver.close()